<?xml version="1.0"	encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arnodenhond.astroclocklite"
    android:versionCode="300"
    android:versionName="3.0.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="13" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <!-- Launchable Clock Activity -->
        <activity
            android:label="@string/app_name"
            android:name="arnodenhond.astroclock.AstroClock" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="arnodenhond.astroclock.Menu" />
        <activity android:name="arnodenhond.astroclock.Map" />
        <activity android:name="arnodenhond.astroclock.Stats" />
        <activity android:name="arnodenhond.astroclock.Help" />
        <activity android:name="arnodenhond.astroclock.Theme" />
        <activity android:name="arnodenhond.astroclock.Alarms" />

        <receiver android:name="arnodenhond.astroclock.AlarmReceiver" >
            <intent-filter >
                <action android:name="midday" />
                <action android:name="midnight" />
                <action android:name="sunrise" />
                <action android:name="sunset" />
                <action android:name="fullmoon" />
                <action android:name="newmoon" />
                <action android:name="firstquarter" />
                <action android:name="lastquarter" />
                <action android:name="northernsolstice" />
                <action android:name="southernsolstice" />
                <action android:name="northwardequinox" />
                <action android:name="northwardequinox" />
            </intent-filter>
        </receiver>
        <receiver android:name="arnodenhond.astroclock.BootReceiver" >
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

</manifest>