<?xml version="1.0"	encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arnodenhond.astroclocklite"
    android:versionCode="300"
    android:versionName="3.0.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="13" />

    <!-- required for acquiring location -->
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        required="false" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        required="false" />
    <!-- required for downloading themes and ads -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- required to be able to set the alerts when the widget or livewallpaper is not installed -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<!-- required for alerts -->
	<uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:logo="@drawable/t1preview" >
        <uses-library android:name="com.google.android.maps" />

        <!-- Launchable Clock Activity -->
        <activity
            android:name="arnodenhond.astroclock.AstroClock"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- configuration activity -->
        <activity
            android:name="arnodenhond.astroclock.settings.Menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.INFO" />
            </intent-filter>
        </activity>
        <activity android:name="arnodenhond.astroclock.settings.location.Map" />
        <activity android:name="arnodenhond.astroclock.Help" />
        <activity android:name="arnodenhond.astroclock.settings.themes.Theme" />
        <activity android:name="arnodenhond.astroclock.alerts.Alarms" />

        <!-- advertising -->
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <!-- launches a broadcast and a notification if enabled. called when event expires in alarm manager -->
        <receiver android:name="arnodenhond.astroclock.alerts.AlarmReceiver" android:exported="false">
            <intent-filter>
                <action android:name="midday" />
                <action android:name="midnight" />
                <action android:name="sunrise" />
                <action android:name="sunset" />
                <action android:name="fullmoon" />
                <action android:name="newmoon" />
                <action android:name="firstquarter" />
                <action android:name="lastquarter" />
                <action android:name="northernsolstice" />
                <action android:name="southernsolstice" />
                <action android:name="northwardequinox" />
                <action android:name="northwardequinox" />
            </intent-filter>
        </receiver>
        <!-- sets the upcoming events in the alarm manager. called when device boots up -->
        <receiver android:name="arnodenhond.astroclock.alerts.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- appwidget -->
        <receiver
            android:name="arnodenhond.astroclock.widget.WidgetProvider"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:logo="@drawable/t1preview" >
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/astroclock_widget_provider" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>
        <!-- live wallpaper -->
        <service
            android:name="arnodenhond.astroclock.livewallpaper.ACWallpaperService"
            android:enabled="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER" >
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/astroclock_wallpaper" >
            </meta-data>
        </service>
    </application>

</manifest>